.main_contents {
    margin-top: 80px;
}

.alert {
    margin-top: 60px;
}

.strong {
    text-align: center;
    font-size: 20px;
}

.back {
    text-align: center;
}

button {
    height: 50px;
    width: 200px;
    border-radius: 150px;
    margin-top: 30px;
}

#red {
    border: 2px solid transparent;
    padding: 10px 30px;
    background: #f1dcd8;
    color: #000;
    cursor: pointer;
}
#red:hover {
    border: 2px solid rgb(240, 148, 148);
    background: #FFF;
    color: #000;
}

#blue {
    border: 2px solid transparent;
    padding: 10px 30px;
    background: #d8e4f1;
    color: #000;
    cursor: pointer;
}
#blue:hover {
    border: 2px solid rgb(94, 158, 241);
    background: #FFF;
    color: #000;
}

#green {
    border: 2px solid transparent;
    padding: 10px 30px;
    background: #bcebaa;
    color: #000;
    cursor: pointer;
}
#green:hover {
    border: 2px solid rgb(87, 177, 107);
    background: #FFF;
    color: #000;
}