<!-- layout.htmlがベース -->
{% extends 'layout.html' %}

    <!-- css -->
    {% block css %}<link rel="stylesheet" href="../static/management.css">{% endblock css %}
    
    <!-- title -->
    {% block page %}管理画面{% endblock page %}
    
    <!-- main -->
    {% block main %}
    <h2>---現在の利用状況---</h2>

    <!-- 全体のログイン回数 -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">名前</th>
                <th scope="col">ログイン回数(全体)</th>
                <th scope="col">電話番号</th>
            </tr>
        </thead>
        <tbody>
        {% for data in alldata %}
            <tr>
                <th scope="row">{{ data[0] }}</th>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- 全体のログイン回数 -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">名前</th>
                <th scope="col">ログイン回数(全体)</th>
                <th scope="col">電話番号</th>
            </tr>
        </thead>
        <tbody>
        {% for data in alldata %}
            <tr>
                <th scope="row">{{ data[0] }}</th>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- 全体のログイン回数 -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">名前</th>
                <th scope="col">ログイン回数(全体)</th>
                <th scope="col">電話番号</th>
            </tr>
        </thead>
        <tbody>
        {% for data in alldata %}
            <tr>
                <th scope="row">{{ data[0] }}</th>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- 全体のログイン回数 -->
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">名前</th>
                <th scope="col">ログイン回数(全体)</th>
                <th scope="col">電話番号</th>
            </tr>
        </thead>
        <tbody>
        {% for data in alldata %}
            <tr>
                <th scope="row">{{ data[0] }}</th>
                <td>{{ data[4] }}</td>
                <td>{{ data[5] }}</td>
                <td>{{ data[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="back">
        <button id="green" class="green_back" onclick="location.href='/'">Homeへ</button>
    </div>
    
    {% endblock main %}

<!-- colspan="2" -->